# ignore all
*
!*/

# white list
!/.gitignore
!/.bin/*
!/README.md
!/.zshrc
!/.latexmkrc
!/.gdbinit
!/tmux/*
!/nvim/**/*
nvim/LICENSE
nvim/.neoconf.json
nvim/lazy-lock.json
nvim/lazyvim.json
nvim/stylua.toml
nvim/README.md
